<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Assignment 1</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod minima est ex tenetur sint fugit adipisci, voluptate quam officia quasi cumque iusto delectus dolorum aliquam dignissimos consequatur odit tempora a!</p>
    </footer>
</body>
</html>