<section class="dashboard row">

    <h1 class="admin-head">Welcome {{user.name}} {{user.lastName}}</h1>

    <a href="/"><img src="./img/family.jpg" alt="family photo" class="family-img"></a>

    <ul class="admin-btn">
        <li><a href="/addProduct">Add Product</a></li>
        <li><a href="/admin-productListing">Edit Product</a></li>
        <li><a href="/">Go to Home Page</a></li>
    </ul>

</section>