<section class="section-cart row">

    <div class="cart-box">
        <img src="./img/ps4.png" alt="ps4" class="cart-img">
        <article class="cart-details">
            <ul>
                <li><a href="">Hello this is playstation</a></li>
                <li class="cart-price">Price : <span>CAD$ 199.99</span></li>
                <li class="cart-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio facere commodi
                    aspernatur nisi iusto dicta</li>
                <li class="cart-stock">In Stock</li>
                <li class="cart-quantity">
                    <label for="cart-quantity">Quantity</label>
                    <select name="cart-quantity" id="cart-quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select></li>
                <li class="cart-btn"><img src="./img/cart.png" alt="cart"><a href="">Add to Cart</a></li>
            </ul>
        </article>
    </div>

</section>