<section class="dashboard row">

    <h1>Thank you {{user.name}} {{user.lastName}} for joining Us</h1>
   
    <p>Subscribe today and enjoy 12 weeks of Kindle for only $6—a savings of 50%.
    Read award-winning writing on politics and international affairs, culture and entertainment, business and technology—in print and online.</p>
    
    <a href="/"><img src="./img/family.jpg" alt="family photo" class="family-img"></a>

    <h3>Also Join us at:</h2>

    <ul class="social-icon">
        <li><a href=""><img src="./img/twitter.svg" alt="twitter"></a></li>
        <li><a href=""><img src="./img/facebook.svg" alt="twitter"></a></li>
        <li><a href=""><img src="./img/youtube.svg" alt="twitter"></a></li>
        <li><a href=""><img src="./img/snapchat.svg" alt="twitter"></a></li>
    </ul>

</section>