
<section class="banner row">
    <img src="./img/banner.png" alt="promotional banner">
</section>

<section class="category-grid-box row">
    <article>
        <ul>
            <li><a href="">Renewed Laptops</a></li>
            <li><a href=""><img src="./img/laptop.jpg" alt="laptop image"></a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article>

    <article>
        <ul>
            <li><a href="">Renewed Laptops</a></li>
            <li><a href=""><img src="./img/laptop.jpg" alt="laptop image"></a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article>

    <article>
        <ul>
            <li><a href="">Renewed Laptops</a></li>
            <li><a href=""><img src="./img/laptop.jpg" alt="laptop image"></a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article>

    <article>
        <ul>
            <li><a href="">Renewed Laptops</a></li>
            <li><a href=""><img src="./img/laptop.jpg" alt="laptop image"></a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article>
</section>