
<section class="banner row">
    <img src="./img/banner.png" alt="promotional banner">
</section>

<section class="category-grid-box row">
    {{#each category}}
    <article>
        <ul>
            <li><a href="">{{this.description}}</a></li>
            <li><a href=""><img src="./img/{{this.imgPath}}" alt="{{this.imgPath}} image"></a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article>
    {{/each}}

    {{!-- <article>
        <ul>
            <li><a href="">Renewed Laptops</a></li>
            <li><a href=""><img src="./img/laptop.jpg" alt="laptop image"></a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article>

    <article>
        <ul>
            <li><a href="">Renewed Laptops</a></li>
            <li><a href=""><img src="./img/laptop.jpg" alt="laptop image"></a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article>

    <article>
        <ul>
            <li><a href="">Renewed Laptops</a></li>
            <li><a href=""><img src="./img/laptop.jpg" alt="laptop image"></a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article> --}}
</section>

<section class="seller-grid-box row">
    <article class="seller-head">
        <ul>
            <li><a href="">Best Sellers</a></li>
            <li><a href="">See More</a></li>
        </ul>
    </article>
   
   <article class="goods-list">
       <ul>
           <li><a href=""><img src="./img/watch.png"></a></li>
           <li><a href=""><img src="./img/watch.png"></a></li>
           <li><a href=""><img src="./img/watch.png"></a></li>
           <li><a href=""><img src="./img/watch.png"></a></li>
           <li><a href=""><img src="./img/watch.png"></a></li>
       </ul>
   </article>


</section>