
<section class="banner row">
    <img src="./img/banner.png" alt="promotional banner">
</section>

<section class="category-grid-box row">

    {{#each category}}
    <article>
        <ul>
            <li><a href="">{{this.description}}</a></li>
            <li><a href="/productListing"><img src="./img/{{this.imgPath}}" alt="{{this.imgPath}} image"></a></li>
            <li><a href="/productListing">See More</a></li>
        </ul>
    </article>
    {{/each}}
</section>

<section class="seller-grid-box row">

    <article class="seller-head">
        <ul>
            <li><a href="/productListing">Best Sellers</a></li>
            <li><a href="/productListing">See More</a></li>
        </ul>

    </article>
    
   <article class="goods-list">

       <ul>
           {{#each bestSellerItem}}
           <li><a href="/productListing"><img src="./img/{{this.imgPath}}"></a></li>
           {{/each}}
       </ul>

   </article>

</section>