<form action="/login" method="POST">
    <img src="./img/amazon-logo-black.png" alt="amazon-logo" class="main-logo">

    <section class="login-info">

        <h2>Sign In</h2>
        {{#each errorMessages}}
        <div class="errors">{{this}}</div>
        {{/each}}

        {{#each errors}}
        <div class="errors">{{this}}</div>
        {{/each}}


        <label for = email>Email</label><br>
        <input type="email" id = email name="email" placeholder="Please enter your email"
        value="{{retainData.email}}"><br>
        <label for = password>Password</label><br>
        <input type="password" id = password name="password" placeholder="At least 6 characters" value="{{retainData.password}}">

        <div class="pwd-alert">
            <img src="./img/alarm.svg" alt="alarm icon">
            <p>Password must consist of atleast 6 characters</p>
        </div>

        <div class="help-box">
            <img src="./img/info.svg" alt="info icon">
            <a href="">Need help?</a>
        </div>

    </section>

    <button type="submit" class="create-btn">Create your amazon account</button>
    
</form>