<form action="/signup" method="POST">
    <img src="./img/amazon-logo-black.png" alt="amazon-logo" class="main-logo">
    <section class="signin-info">
        <h2>Create account</h2>

        {{#each errorMessages}}
        <div class="errors">{{this}}</div>
        {{/each}}

        <label for = name>Name</label><br>
        <input type="text" id = name name="name" placeholder="Please enter your name" value="{{retainData.name}}"><br>
        <label for = email>Email</label><br>
        <input type="email" id = email name="email" placeholder="Please enter your email" value="{{retainData.email}}"><br>
        <label for = password>Password</label><br>
        <input type="password" id = password name="password" placeholder="At least 6 characters" value="{{retainData.password}}">
        <div class="pwd-alert">
            <img src="./img/alarm.svg" alt="alarm icon">
            <p>Password must consist of atleast 6 characters</p>
        </div>
        <label for = password>Password again</label><br>
        <input type="password" id = password name="confirmPassword" placeholder="At least 6 characters">

        <button type="submit" class="create-btn">Create your amazon account</button>

        <p class="create-copy">By creating an account, you agree to Amazon's <a href="">Conditions of Use</a> & <a href="">Privacy Notice</a>.</p>

        <p class="create-copy-account">Already have an account? <a href="/login">Sign in</a></p>
    
    </section>
    
</form>