/*--------------------------------------------*/
/* For screens that are 1280px or less */
/*--------------------------------------------*/

@media only screen and (max-width: 1280px) {

    .bar-search {
        width: 30em;
    }


    /*-----------Login Form-----------*/

    .create-btn {
        padding: 1%;
    }

    .errors {
        width: 80%;
    }

    /*-----------Dashboard Page-----------*/

    .product-box {
        margin: 5em 1em;
    }

}

/*--------------------------------------------*/
/* For screens that are 1024px or less */
/*--------------------------------------------*/

@media only screen and (max-width: 1024px) {

    .bar-search {
        width: 20em;
    }

    .main-nav li {
        margin: auto .3em;
    }

    .category-grid-box {
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        grid-column-gap: 0;
        margin: 2em auto;
    }

    .category-grid-box article {
        margin: 1em;
    }

    .category-grid-box li {
        margin: 1em 2em;
        max-width: 100%;
    }

    .category-grid-box img {
        max-width: 100% ;
        height: 22em;
    }
    
    /*-----------Best Seller Goods-----------*/
    
    .seller-grid-box {
        margin: 0 2em 2em 2em;
    }

    /*-----------First Footer-----------*/

    .footer-box {
        padding: 2% 5%;
    }

    .first-footer ul {
        width: 25%;
    }

    /*-----------Third Footer-----------*/

    .third-footer ul {
        width: 70%;
    }

    /*-----------Login Form-----------*/

    .create-btn {
        width: 40%;
    }

    .login-info,.signin-info {
        width: 60%;
        padding: 4%;
    }

     /*-----------Product Page-----------*/
    
     .product-bar-list {
         display: none;
     }

     .product-photo {
         height: 8em;
     }

     /*-----------Dashboard Page-----------*/

     .dashboard {
         margin: 4em 2em;
     }
}

/*--------------------------------------------*/
/* For screens that are 900px or less */
/*--------------------------------------------*/

@media only screen and (max-width: 900px) {
    .btn a {
        font-weight: 300;
        font-size: 80%;
    }

    .bar-search {
        width: 15em;
    }

    .seller-head ul {
        margin-top: .5em;
        flex-direction: column;
        text-align: center;
    }
    
    .goods-list ul {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-evenly;
    }
    
    .goods-list ul li {
        display: block;
        text-align: center;
        margin: 1.5em auto 1em auto;
    }
    
    .goods-list img {
        max-width: 100%;
        height: 12em;
    }

    /*-----------First Footer-----------*/

    .footer-box {
        padding: 2% 2%;
    }

    h4 {
        font-size: .8em;
    }

    /*-----------Product Page-----------*/

    .product-photo {
        height: 10em;
    }

    .product-best {
        grid-template-columns: 1fr 1fr;
    }

}

/*--------------------------------------------*/
/* For screens that are 768px or less */
/*--------------------------------------------*/

@media only screen and (max-width: 768px) {

    .main-nav ul li ul li{
        display: none;
    }

    .main-nav ul li:first-of-type {
        display: none;
    }

    .bar-search {
        width: 20em;
    }

    input[type=password],input[type=email],.signin-info input[type=text] {
        padding: 3%;
    }

    .signin-info .create-btn {
        padding: 3%;
    }

}

/*--------------------------------------------*/
/* For screens that are 600px or less */
/*--------------------------------------------*/

@media only screen and (max-width: 600px) {
    .bar-search {
        display: none;
    }

    .search-box button {
        background-color: #FEBD69;
        border: .125em solid #FEBD69;
        border-radius: 50px;
        margin-left: 10em;
        width: 3em;
    }

    /*-----------Home Page-----------*/
    
    .category-grid-box {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        margin: 1em auto 0 auto;
    }

    .category-grid-box img {
        height: 32em;
    }

    /*-----------Best Seller Goods-----------*/

    .goods-list ul {
        display: flex;
        flex-direction: column;
    }

    /*-----------First Footer-----------*/

    .first-footer ul:first-of-type {
        display: none;
    }
    
    .first-footer ul:last-of-type {
        display: none;
    }

    .first-footer ul {
        width: 50%;
        text-align: center;
    }

    h4 {
        font-size: 100%;
    }

    /*-----------Second Footer-----------*/

    .social-list li:first-of-type {
        display: none;
    }

    /*-----------Third Footer-----------*/

    .third-footer ul {
        width: 100%;
    }

    .third-footer ul a {
        font-size: 70%;
        font-weight: 300;
    }

     /*-----------Login Form-----------*/

     .create-btn {
        width: 50%;
        padding: 2%;
    }

    .login-info,.signin-info {
        width: 80%;
        padding: 10% 6%;
    }

     /*-----------Product Page-----------*/

     .product-photo {
        height: 8em;
    }

    /*-----------Dashboard-----------*/

    .dashboard {
        margin: 2em 1em;
        padding: 1em;
    }

    .dashboard h1 {
        font-size: 150%;
    }

    .dashboard p {
        font-size: .8em;
    }

    .social-icon {
        width: 100%;
    }
    
}

/*--------------------------------------------*/
/* For screens that are 480px or less */
/*--------------------------------------------*/

@media only screen and (max-width: 480px) {

    body {
        background-color: #ffffff;
    }

    .main-header {
        padding: 3%;
        padding-top: 5%;
    }

   .main-nav li {
       margin: auto .2em;
   }

   .main-nav button {
       width: 7em;
   }

   .main-nav button a {
       font-size: 110%;
       font-weight: bold;
   }

   .search-box button {
       margin-left: 4em;
   }


    /*-----------Home Page-----------*/

    .category-grid-box img {
        height: 30em;
    }

    .category-grid-box article {
        border-bottom: .5em solid rgb(209, 208, 208);
        margin: 0;
        padding: 1em 0;
    }

    /*-----------First Footer-----------*/

    .first-footer {
        padding: 2%;
    }

    .first-footer ul li {
        text-align: center;
    }

    h4 {
        font-size: 90%;
    }

    /*-----------Second Footer-----------*/

    .second-footer ul:first-of-type {
        flex-direction: column;
        text-align: center;
        margin-top: .5em;
    }

    .second-footer {
        display: flex;
        flex-direction: column;
    }

    .social-list {
        margin: 1em auto;
    }

    /*-----------Login Form-----------*/

    h2 {
        font-size: 180%;
        text-align: center;
        margin-bottom: 1em;
    }

    .create-btn {
        width: 60%;
        padding: 3%;
        font-size: .8em;
    }

    .errors {
        width: 100%;
    }

     /*-----------Product Page-----------*/

     .product-box {
         margin: 4em 0;
     }

     .product-photo {
        height: 10em;
    }

    .product-best {
        grid-template-columns: 1fr;
    }

}

/*--------------------------------------------*/
/* For screens that are 360px or less */
/*--------------------------------------------*/

@media only screen and (max-width: 360px) {
   
    /*----------HEADER----------*/

    .main-header {
        padding: 3%;
    }

    .main-logo {
       height: 1.5em;
   }

   .search-box button {
       display: none;
   }

   .main-nav ul li ul{
       display: none;
   }

   .main-nav button {
       width: 6em;
       height: 2.5em; 
   }

    /*-----------Home Page-----------*/

    .category-grid-box li {
        margin: .5em .5em;
    }

    .category-grid-box img {
        height: 25em;
    }

    .category-grid-box article {
        border-bottom: 2px solid rgb(209, 208, 208);
    }

    /*-----------Best Seller Goods-----------*/

    .goods-list ul li {
        margin-top: 1.5em;
    }

    .goods-list img {
        max-width: 100%;
        height: 10em;
    }

    /*-----------First Footer-----------*/

    h4 {
        font-size: 70%;
    }

    /*-----------Login Form-----------*/

    .login-info,.signin-info {
        width: 90%;
        padding: 8% 2%;
    }

    .create-btn {
        width: 90%;
    }

    /*-----------Dashboard page-----------*/

    .dashboard h1 {
        font-size: 120%;
    }

    .family-img {
        height: 5em;
    }

    .dashboard h3 {
        font-size: 100%;
    }

}

