/*--------------------------------------*/
/*-----------Default-----------*/
/*--------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato', Arial, Helvetica, sans-serif;
    background-color: #fff;
    font-size: 1.250em;
    font-weight: 300;
    color: #555;
}

/*--------------------------------------*/
/*-----------Reusable-----------*/
/*--------------------------------------*/

/*--------------------------------------*/
/*-----------Header-----------*/
/*--------------------------------------*/

header {
    background-color: #131921;
    height: 5vh;
}