/*--------------------------------------*/
/*-----------Default-----------*/
/*--------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato', Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    font-size: 1.250em;
    font-weight: 300;
    color: #555;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*--------------------------------------*/
/*-----------Reusable-----------*/
/*--------------------------------------*/

h2 {
    font-size: 200%;
    margin-bottom: .625em;
}

input[type=text], button {
    outline: none;
}

p {
    font-size: 70%;
    font-weight: 500;
}

.row {
    width: 1440px;
}

section {
    margin: 0 auto;
}

button {
    opacity: .8;
}

button:hover {
    opacity: 1;
    transition: .2s;
}

/*--------------------------------------*/
/*-----------Header-----------*/
/*--------------------------------------*/

header {
    background-color: #131921;
    height: 12vh;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.box-logo, .main-nav ul {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

.main-logo {
    height: 2.5em;
}

.main-nav a {
    color: #fff;
}

.main-nav li {
    margin: auto 1em;
}

/*-----------Buttons-----------*/

.main-nav  button {
    background-color: #FEBD69;
    width: 9em;
    padding: 8%;
    border-radius: 200px;
}

.main-nav button a {
    color: #000;
    font-size: 150%;
}


/*-----------Links-----------*/

.btn a {
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.btn a:hover {
    color: #FEBD69;
    border-bottom: 2px solid #FEBD69;
    transition: color .2s, border-bottom .2s;
}

/*-----------Cart-----------*/

.cart-shopping img {
    height: 1.5em;
}

.cart-shopping li {
    margin:auto .125em;
}


/*-----------Search Bar-----------*/

.search-box {
    display: flex;
    margin-left: 5em;
}

.search-box img {
    height: 25px;
    margin-left: 0;
}

.bar-search {
    width: 40em;
    padding: 2%;
    border: 4px solid #FEBD69;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.search-box button {
    width: 4em;
    background-color: #FEBD69;
    border: 4px solid #FEBD69;
    border-left: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}


/*--------------------------------------*/
/*-----------Footer-----------*/
/*--------------------------------------*/

footer{
    background-color: #232F3E;
}

footer section:first-of-type {
    border-bottom: .5px solid #fff;
 }


/*-----------First Footer-----------*/

.footer-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}

.first-footer a {
    color: #fff;
    font-size: 70%;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px solid #fff;
}

.first-footer a:hover {
    border-bottom: 1px solid #fff;
    transition: border-bottom .2s;
}

.first-footer ul::first-line {
    font-weight: bold;
    font-size: 120%;
}

.first-footer ul li {
    margin-top: 5px;
}


/*-----------Second Footer-----------*/

.second-footer ul:first-of-type {
    display: flex;
}


#country {
    width: 8em;
    padding: .5em;
    margin-left: 1em;
    border-radius: 10px;
    color: #fff;
    background-color:#232F3E;
    border: 2px solid #fff;
}

.social-list {
    display: flex;
}

.social-list img {
    height: 50px;
    margin-right: 2em;
}

.social-list li:last-of-type img {
    margin-right: 0;
}

.social-list li:first-of-type {
    color: #fff;
    margin: auto 2em;
    font-weight: bold;
}

/*-----------Third Footer-----------*/

.third-footer {
    background-color: #131A22;
    padding: 1%;
    font-weight: bold;
}

.third-footer ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.third-footer ul a {
    color: #fff;
    font-size: 90%;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
}

.third-footer ul a:hover {
    border-bottom: 1px solid #fff;
    transition: border-bottom .2s;
}

.third-footer p {
    margin: 20px 0;
    text-align: center;
    color: #555;
}


/*---------------------------------------------------------------------------------------------------*/
/*-----------Login Form-----------*/
/*---------------------------------------------------------------------------------------------------*/


form img {
    height: 20px;
}

form .main-logo {
    display: block;
    margin: 0 auto;
    height: 10em;
}

.login-info,.signin-info {
    border: 1px solid #e7e7e7;
    width: 25%;
    padding: 2%;
    background-color: #fff;
}
label {
    font-weight: bold;
}

input[type=password],input[type=email],.signin-info input[type=text] {
    width: 100%;
    margin: .4em 0 .825em 0;
    padding: 1.5%;
    outline: none;
}

.pwd-alert {
    display: flex;
}

.pwd-alert p {
    margin-left: .5em;
}

.help-box {
    display: flex;
    margin-top: 2em;
}

.help-box img {
    margin: auto .5em auto 0;
}

.help-box a {
    font-size: 90%;
    font-weight: 400;
}

/*reffered from amazon website*/

.line {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}

.line:after {
    display: block;
    content: "";
    background-color: transparent;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 25%;
}

.line {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
    display: block;
    width: 25%;
    margin: 0 auto;
}

.line:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

h3 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;

    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.create-btn {
    display: block;
    margin: 0 auto 5em auto;
    width: 25%;
    padding: .5% 0; background-color: #FEBD69;
    border: .5px solid #767676;
    border-radius: 2px;
}

/*---------------------------------------------------------------------------------------------------*/
/*-----------Signup Form-----------*/
/*---------------------------------------------------------------------------------------------------*/

.signin-info {
    margin-bottom: 5em;
}

.signin-info .create-btn {
    width: 100%;
    padding: 2% 0;
    margin: .825em auto 1em auto;
}

.signin-info .pwd-alert {
    margin-bottom: .825em;
}

.create-copy-account::before {
    display: block;
    content: "";
    clear: both;
    height: .5px;
    width: 20%;
    background-color: #767676;
    margin: 3em auto;
}

/*---------------------------------------------------------------------------------------------------*/
/*-----------Home Page-----------*/
/*---------------------------------------------------------------------------------------------------*/

/*--------------------------------------*/
/*-----------Category Goods-----------*/
/*--------------------------------------*/

.banner img {
    width: 100%;
}

.category-grid-box img {
    height: 22em;
}

.category-grid-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 100%;
    grid-column-gap:1em ;
    margin: 4em auto;
}

.category-grid-box article {
    background-color: #fff;
}

.category-grid-box li {
    text-align: center ;
    margin: 1em auto;
}

.category-grid-box li:first-child a, .seller-head li:first-child a {
    color: rgb(68, 68, 68);
    font-weight: bold;
}

.category-grid-box li:last-child a, .seller-head li:last-child a {
    font-size: 80%;
    color: blue;
    font-weight: 400;
    border-bottom: .5px solid transparent;
}

.category-grid-box li:last-child a:hover, .seller-head li:last-child a:hover {
    color: #e67e22;
    border-bottom: .5px solid #e67e22;
    transition: color .2s, border-bottom .2s;
}

/*--------------------------------------------*/
/*-----------Best Seller Goods-----------*/
/*--------------------------------------------*/

.seller-grid-box {
    display: grid;
    grid-template-rows: auto auto;
    background-color: #fff;
    margin-bottom: 4em;
    padding-bottom:1% ;
}


.seller-head ul {
    display: flex;
    padding: 2% 0 0 2%;
}

.seller-head li:last-child a{
    margin-left: 1em;
}

.goods-list ul {
    display: flex;
    justify-content: space-between;
}

.goods-list img {
    height: 10em;
}

/*---------------------------------------------------------------------------------------------------*/
/*-----------Product Page-----------*/
/*---------------------------------------------------------------------------------------------------*/

.product-box {
    display: flex;
    margin: 5em auto;
}

.product-bar-list {
    margin-right: 2%;
    width: 20%;
}

.product-bar-list li:first-of-type a {
    font-size: 80%;
    font-weight: bold;
    color: #000;
}

.product-bar-list a {
    font-size: 70%;
    font-weight: 500;
    color: #555555;
}

.product-bar-list a:hover , .product-desc:hover {
    color: #e67e22;
    transition: color .2s;
}

.product-photo {
    height: 10em;
    display: block;
    margin: .5em auto;
}

.rating {
    height: 1em;
}

.prime-logo {
    height: 1.5em;
}

.product-best {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
}

.product-view {
    border: .5px solid #cfcfcf;
    padding: 4%;
}

.product-desc {
    font-weight: bold;
    color:   #0066C0;

}

.rating-box {
    display: flex;
    margin: .5em 0;
}

.rating-box li:last-of-type {
    margin: auto 0 auto .5em;
    font-weight: 400;
    font-size: 70%;
    color: #555;
}

.product-price {
    display: flex;
}

.product-price li:first-child a {
    color: red;
    font-weight: bold;
    font-size: 90%;
}